FB FEED

{{user.displayName}}

    <img src="{{coverPhoto}}"/>



{{#each posts}}
				
				
				<script language="javascript" type="text/javascript"> 
					
				</script>
				
				
				<li>
				
					<figure>
						<!--https://graph.facebook.com/{{object_id}}/picture?type=normal" -->
					<img src="https://graph.facebook.com/{{object_id}}/picture?type=normal&access_token={{accessToken}}">
					
		
					<figcaption>
						<h3 class ="giveMeEllipsis">{{message}}</h3>
						<span>{{type}} by {{from.name}}</span>
						
						<a target="_blank" href="{{link}}">Take a look</a>
						<a target="_blank" href="{{link}}">Poster</a>
					</figcaption>
					</figure>
					
					
				</li>
				
				
				{{/each}}